{% extends 'base.html' %}
{% load i18n static %}


{% block page_header %}
{{ form.media }}


<div class=" container header-container">
    <div class="row">
        <div class="col">
            {% include 'includes/header.html' %}
        </div>
    </div>
</div>
{% endblock page_header %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'css/side_edit_box.css' %}">

    <script>
        AOS.init({
            once: false,
            anchorPlacement: 'bottom',
            duration: 1000,
        });
    </script>

</head>



{% include 'home/includes/side_edit_box.html' %}

<body class="home-body">

    <section class="flexed top-homepage-section" data-aos="fade-in" data-aos-delay="1200">
        {% for x in home_page_customisation %}
        {% if x.image %}
        <div {% if user.is_superuser %} data-bs-toggle="tooltip" data-bs-placement="left"
            title="Double click to edit home page background" {% endif %} class="{% if x.do_not_display %}
    do-not-display {% else %} homepage-bg-image editable w-100 img-fluid {% endif %}"
            style="background: url({{x.image.url}});">
        </div>
        {% else %}
        <div {% if user.is_superuser %} data-bs-toggle="tooltip" data-bs-placement="left"
            title="Double click to edit home page background" {% endif %} class="{% if x.do_not_display %}
    do-not-display {% else %} editable gradient-bg-image editable h-100 w-100 img-fluid {% endif %}">
        </div>
        {% endif %}
        {% endfor %}

        <div class="container h-100" style="height: calc(100% - 162px) !important; margin-top: 100px !important;">
            <div class="row h-100">
                <div class="col-12 col-md-12 my-auto" style="height: fit-content;">

                    {% for x in home_page_customisation %}
                    <h1 {% if user.is_superuser %} data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Double click to edit contents" {% endif %}
                        class="{% if x.do_not_display %}
                do-not-display {% else %} display-4 logo-font main-page-text {{ x.main_page_text_alignment }} {% endif %}" style="color: {{ x.main_page_text_color }};">
                        {{ x.main_page_text|safe }}</h1>
                    {% endfor %}

                    {% for x in home_page_customisation %}
                    <div class="{% if x.do_not_display %}
                do-not-display {% else %} editable my-5 {{ x.main_page_button_alignment }} {% endif %}">
                        <h4>
                            {% for x in home_page_customisation %}
                            <a href="{% url 'products' %}" class="{% if x.do_not_display %}
                        do-not-display {% else %} shop-now-button btn btn-lg rounded-0 text-uppercase py-3 {% endif %}"
                                style="background-color: {{ x.button_background_color }};">

                                <p class="{% if x.do_not_display %}
                            do-not-display {% endif %}" style="color: {{ x.button_text_color }}; margin: 0 !important">
                                    {{ x.button_text }}
                                </p>
                            </a>
                            {% endfor %}
                        </h4>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section class="products-homepage-section container">
        <div class="row flexed editable">

            {% for x in home_page_customisation %}

            {% if x.cta_card_1 %}
            <div class="{% if x.do_not_display or y.do_not_display %}
                 do-not-display {% else %} mx-5 card cta-card col-md-4 p-0 {% endif %}" data-aos="fade-in">
                <img {% if user.is_superuser %} data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Double click to edit CTA cards" {% endif %} src="{{x.cta_card_1.image.url}}"
                    class="card-img-top" alt="...">

                <div class="card-body text-center cta-card-title">

                    <p class="{% if x.do_not_display or y.do_not_display %}
                  do-not-display {% else %} cta-title {% endif %}"
                        style="color: {{ x.contact_card_text_color }} !important;">
                        {{ x.cta_card_1.cta_text|safe }}
                    </p>

                </div>
                <div class="{% if x.do_not_display or y.do_not_display %}
               do-not-display {% else %} card-footer px-5 d-flex justify-content-center {% endif %}">
                    <a href="products/?category={{ x.cta_card_1.button_url_choice }}"
                        class="cta-btn-1 flexed {{ x.cta_card_1.add_button_border }}" target="_blank" style="color: {{ x.cta_card_1.button_label_color }} !important;
                    background-color: {{ x.cta_card_1.button_background_color }} !important;
                    border: 2px solid {{ x.cta_card_1.border_color }};">
                        {{ x.cta_card_1.button_label }}
                    </a>

                </div>
            </div>
            {% endif %}

            {% if x.cta_card_2 %}
            <div class="{% if x.do_not_display or y.do_not_display %}
                 do-not-display {% else %} mx-5 card cta-card col-md-4 p-0 {% endif %}" data-aos="fade-in">
                <img {% if user.is_superuser %} ondblclick="editCTACardImage()" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Double click to edit CTA cards" {% endif %}
                    src="{{x.cta_card_2.image.url}}" class="card-img-top" alt="...">

                <div class="card-body text-center cta-card-title">

                    <p class="{% if x.do_not_display or y.do_not_display %}
                  do-not-display {% else %} cta-title {% endif %}"
                        style="color: {{ x.contact_card_text_color }} !important;">
                        {{ x.cta_card_2.cta_text|safe }}
                    </p>

                </div>
                <div class="{% if x.do_not_display or y.do_not_display %}
               do-not-display {% else %} card-footer px-5 d-flex justify-content-center {% endif %}">
                    <a href="products/?category={{ x.cta_card_2.button_url_choice }}"
                        class="cta-btn-1 flexed {{ x.cta_card_2.add_button_border }}" target="_blank" style="color: {{ x.cta_card_2.button_label_color }} !important;
                    background-color: {{ x.cta_card_2.button_background_color }} !important;
                    border: 2px solid {{ x.cta_card_1.border_color }};">
                        {{ x.cta_card_2.button_label }}
                    </a>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="cta-banner-section flexed" style="align-items:flex-end;">

        {% for x in home_page_customisation %}
        {% if x.cta_banner %}
        <div {% if user.is_superuser %} data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Double click to edit Banner styles" {% endif %} class="{% if x.do_not_display or y.do_not_display %}
                        do-not-display {% else %} jumbotron editable jumbotron-fluid cta-banner {% endif %}"
            style="{% if banner_image %} background: url({{x.cta_banner.banner_image.url}}) !important; {% else %} background-color: {{ x.cta_banner.banner_background_color }} !important; {% endif %}">

            <h1 class="text-center cta-banner-title mb-5 p-5">{{ x.cta_banner.cta_banner_title|safe }}</h1>

            <div class="container h-100 mt-5 flexed" style="flex-flow: row;">
                {% for product in products_processor|slice:":3" %}
                {% if product.add_to_cta_banner == True %}
                <div class="card cta-banner-card h-100 mx-5" style="width: 18rem;">
                    <img class="card-img-top" src="{{ product.main_product_image.url }}" alt="Card image cap">
                    <div class="card-body cta-banner-cards">
                        <h5 class="{% if x.do_not_display or y.do_not_display %}
                        do-not-display {% else %} card-title text-center cta_banner_card_text {% endif %}"
                            style="color: {{ x.cta_banner.card_title_color }} !important;">{{ product.name }}</h5>
                        <p class="card-text text-center">
                            <a href="{% url 'product_detail' product.id %}" class="{% if x.do_not_display or y.do_not_display %}
                            do-not-display {% else %} {{ x.button_border }} cta-banner-btn {% endif %}"
                                style="background-color: {{ x.cta_banner.card_button_background_color }} !important;
                                border: 1px solid {{ x.cta_banner.button_border_color }} !important;
                                color: {{ x.cta_banner.card_button_text_color }} !important;">
                                {{ x.cta_banner.card_button_text }}
                            </a>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </section>

    {% include "includes/footer.html" %}
    {% include "home/includes/edit_functions.html" %}



</body>





{% endblock content %}