{% load i18n static %}

{% for x in header_customisation %}
<header {% if user.is_superuser %} ondblclick="editHeader()" data-bs-toggle="tooltip" data-bs-placement="bottom"
title="Double Click To Edit Header Styles" {% endif %} class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} editable container-fluid fixed-top {% endif %}">
    <div id="topnav" class="{% if x.do_not_display %}
    do-not-display {% else %} row pt-lg-2 d-none d-lg-flex {% endif %}"
        style="background-color: {{ x.header_background_color }} !important;">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a class="nav-link main-logo-link">
                <!-- <h2 class="logo-font text-black my-0"><strong>Nue</strong> Store</h2> -->
                {% for x in header_customisation %}
                {% if x.header_logo %}
                <img src="{{ x.header_logo.url }}" class="{% if x.do_not_display %}
                    do-not-display {% else %} header-logo {% endif %}">
                {% endif %}
                {% endfor %}
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="{% if x.do_not_display %}
                        do-not-display {% else %} form-control rounded-0 {% endif %}"
                        style="border: 1px solid {{ x.search_icon_color }} !important;" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        {% for x in header_customisation %}
                        <button class="{% if x.do_not_display %}
                        do-not-display {% else %} form-control btn rounded-0 {% endif %}" type="submit" style="background-color: {{ x.search_icon_background_color }};
                                border: 1px solid {{ x.search_icon_color }};">
                            <span class="icon">
                                <i class="{% if x.do_not_display %}
                                do-not-display {% else %} feathericon {% endif %}"
                                    style="color: {{ x.search_icon_color }} !important;" data-feather="search">
                                </i>
                                {% endfor %}
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">

            <ul class="list-inline list-unstyled text-center text-lg-right my-0" aria-labelledby="dropdownMenuLink">

                <li class="list-inline-item">
                    <a class="text-black nav-link" href="{% url 'about' %}">
                        <div class="text-center">

                            {% if request.get_full_path == '/about/' %}
                            {% else %}
                            {% for y in global_styles %}
                            <div>

                                <i class="{% if y.do_not_display %}
                                do-not-display {% else %} feathericon {% endif %}"
                                    style="color: {{ y.all_icon_colors }} !important;" data-feather="book-open">
                                </i>

                            </div>
                            <p class="{% if y.do_not_display %}
                            do-not-display {% else %} my-0 {% endif %}"
                                style="color: {{ y.base_font_color }} !important;">About
                            </p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </a>

                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        <a href="/admin" class="dropdown-item"
                            style="color: {{ y.dropdown_menu_text_color }} !important">Website Admin</a>
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% if request.user.is_superuser %}
                        <a href="/superadmin" class="dropdown-item">
                            <img src="{% static 'images/superadminicon.png' %}" style="height: 16px !important;">
                            Super Admin</a>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link dropdown-toggle" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div>
                                {% for y in global_styles %}
                                <i class="{% if y.do_not_display %}
                                do-not-display {% else %} feathericon {% endif %}"
                                    style="color: {{ y.all_icon_colors }} !important;" data-feather="user">
                                </i>
                                {% endfor %}
                            </div>
                            {% for y in global_styles %}
                            <p class="{% if y.do_not_display %}
                            do-not-display {% else %} my-0 {% endif %}"
                                style="color: {{ y.base_font_color }} !important;">My Account
                            </p>
                            {% endfor %}
                        </div>
                    </a>

                    {% for y in global_styles %}
                    <div class="{% if y.do_not_display %}
                    do-not-display {% else %} dropdown-menu border-0 {% endif %}"
                        style="background-color: {{ y.dropdown_menu_background_color }} !important;"
                        aria-labelledby="user-options">
                        {% if user.is_superuser or user.is_staff %}
                        <a href="/superadmin" class="{% if y.do_not_display %}
                        do-not-display {% else %} dropdown-item {% endif %}"
                            style="color: {{ y.dropdown_menu_text_color }} !important">
                            <img src="{% static 'images/superadminicon.png' %}" style="height: 16px !important;">
                            Super Admin
                        </a>
                        <a href="/admin" class="{% if y.do_not_display %}
                        do-not-display {% else %} dropdown-item {% endif %}"
                            style="color: {{ y.dropdown_menu_text_color }} !important">Website Admin</a>
                        <a href="{% url 'add_product' %}" class="{% if y.do_not_display %}
                        do-not-display {% else %} dropdown-item {% endif %}"
                            style="color: {{ y.dropdown_menu_text_color }} !important">Product Management</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="{% if y.do_not_display %}
                        do-not-display {% else %} dropdown-item {% endif %}"
                            style="color: {{ y.dropdown_menu_text_color }} !important">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="{% if y.do_not_display %}
                            do-not-display {% else %} dropdown-item {% endif %}"
                            style="color: {{ y.dropdown_menu_text_color }} !important">Logout</a>

                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </li>

                <li class="list-inline-item">
                    {% for x in header_customisation %}
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} {% if x.do_not_display %}
                    do-not-display {% else %} text-black nav-link {% endif %}" href="{% url 'view_bag' %}">
                        <div class="text-center">
                            {% for y in global_styles %}
                            <div>
                                <i class="{% if y.do_not_display %}
                                do-not-display {% else %} feathericon {% endif %}"
                                    style="color: {{ y.all_icon_colors }} !important;" data-feather="shopping-bag">
                                </i>

                            </div>
                            <p class="{% if y.do_not_display %}
                                do-not-display {% else %} my-0 text-black {% endif %}"
                                style="color: {{ y.base_font_color }} !important;">
                                {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                            {% endfor %}

                        </div>
                    </a>
                    {% endfor %}
                </li>
            </ul>

        </div>
    </div>

    {% for x in header_customisation %}
    <div class="{% if x.do_not_display %}
    do-not-display {% else %} row bg-light {% endif %}"
        style="background-color: {{ x.header_background_color }} !important;">
        <nav class="navbar navbar-expand-lg navbar-dark w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">

                {% for y in global_styles %}
                <i class="{% if y.do_not_display %}
                do-not-display {% else %} fas fa-bars {% endif %}" style="color: {{ y.all_icon_colors }} !important;">
                </i>
                {% endfor %}
            </button>
            {% include 'includes/mobile_top_header.html' %}
            {% include 'includes/main_nav.html' %}
        </nav>
    </div>
    {% endfor %}

    {% for x in header_customisation %}
    {% for y in global_styles %}

    <div class="{% if x.do_not_display or y.do_not_display %}
     do-not-display {% else %} row text-center flexed small-banner-wrap {% endif %}" data-aos="fade-in"
        data-aos-delay="1000" style="background-color: {{ x.small_banner_background_color }};">
        <a  href="{{ x.banner_button_url_link_1 }}" target="_blank" class="{% if x.do_not_display or y.do_not_display  %}
        do-not-display {% else %} small-banner-btns flexed {{ x.button_border }} {% endif %}" style="background-color: {{ x.banner_button_background_color }} !important;
            color: {{ x.banner_button_label_color }} !important;
            border: 2px solid {{ x.button_border_color }} !important;">
            {{ x.banner_button_label_1 }}
        </a>
        <div class="col free-delivery-wrap">
            <!-- <h5 class="free-delivery-text my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h5> -->
                <h5 class="{% if x.do_not_display or y.do_not_display  %}
            do-not-display {% else %} small-banner-text my-1 py-2 {% endif %}"
                    style="color: {{ x.small_banner_text_color }};">
                    {{ x.small_banner_text|safe }}
                </h5>

        </div>
        <a href="{{ x.banner_button_url_link_2 }}"
            target="_blank" class="{% if x.do_not_display or y.do_not_display  %}
        do-not-display {% else %} small-banner-btns flexed {{ x.button_border }} {% endif %}" style="background-color: {{ x.banner_button_background_color }} !important;
            color: {{ x.banner_button_label_color }} !important;
            border: 2px solid {{ x.button_border_color }} !important;">
            {{ x.banner_button_label_2 }}
        </a>

    </div>

    {% endfor %}
    {% endfor %}
</header>
{% endfor %}



<script>

</script>