{% extends 'base.html' %}
{% load static %}

{% block content %}


<body class="testimonials-body">
    <div class="overlay"></div>

    <div class="container-fluid" style="height: 100%;">

        <div class="gtco-testimonials">
            <div class="owl-carousel owl-carousel1 owl-theme">

                {% for x in testimonials_customisation %}
                <div>
                    <div class="card text-center py-5">

                        <div class="card-body">
                            <h5>{{ x.recipients_name }} <br />
                                <span class="my-4">

                                </span>
                            </h5>
                            <p class="card-text my-5"><em>{{ x.testimonial|safe }}</em></p>
                            <div class="container mt-5">
                                <div class="col-md-12">

                                    {% if x.customers_rating == '1' %}
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    {% endif %}
                                    {% if x.customers_rating == '2' %}
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    
                                    {% endif %}
                                    {% if x.customers_rating == '3' %}
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    
                                    {% endif %}
                                    {% if x.customers_rating == '4' %}
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    
                                    {% endif %}
                                    {% if x.customers_rating == '5' %}
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="color: goldenrod; font-size:25px;"></i>
                                    {% endif %}
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% empty %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>THERE ARE NO CUSTOMER TESTIMONIALS YET</h3>
                        <p>ALL TETSIMONIALS WILL BE STORED IN YOUR ADMIN ONCE RECEIVED</p>
                        <a href="/admin/testimonials/testimonial/" class="testimonial-sent-btn">CUSTOMER TESTIMONIALS</a>
            
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
    </div>

    {% if submitted %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>THANKS FOR SHARING WITH US</h3>
            <p>CHECK OUT WHAT OTHER PRODUCTS WE HAVE IN STORE</p>
            <a href="{% url 'products' %}" class="testimonial-sent-btn">PRODUCTS</a>

        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="#testimonialForm" type="button" class="open-testimonial-form-btn">
                <small> <i class="far fa-comments"></i> LEAVE A TESTIMONIAL <i class="far fa-comments"></i></small>
            </a>
        </div>
    </div>

    <div class="testimonial-form-wrap col-md-12 flexed">
        <form action="/testimonials/" method="POST" enctype="multipart/form-data" class="p-5 col-md-6"
            id="testimonialForm">
            {% csrf_token %}
            {{ form_media }}
            {{ form.as_p }}
            <input class="testimonial-form-submit-btn" type="submit" value="Submit">
        </form>
    </div>
    {% endif %}


    {% include "includes/footer.html" %}
</body>

<script>
    (function () {
        "use strict";

        var carousels = function () {
            $(".owl-carousel1").owlCarousel({
                loop: true,
                center: true,
                dots: false,
                margin: 0,
                responsiveClass: true,
                nav: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    680: {
                        items: 2,
                        nav: false,
                        loop: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            });
        };

        (function ($) {
            carousels();
        })(jQuery);
    })();

    $(document).ready(function () {
        $('#myModal').modal({
            show: false,
        })
    })

</script>
{% endblock content %}