{% extends 'base.html' %}
{% load static %}

{% block content %}


<body class="testimonials-body">
    <div class="overlay"></div>
    <div class="container-fluid" style="height: 100%;">
        <div class="gtco-testimonials">
            <div class="owl-carousel owl-carousel1 owl-theme">

                {% for x in testimonials_customisation %}
                <div>
                    <div class="card text-center">
                        <img class="card-img-top"
                            src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
                            alt="">
                        <div class="card-body">
                            <h5>{{ x.recipients_name }} <br />
                                <span class="my-4">
                                    {% if x.twitter_link %}
                                    <a class="testimonials-social-media-icons mx-2"
                                        style="color: {{ x.social_media_icon_colors }} !important;"
                                        href="{{ x.twitter_link }}" target="_blank" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    {% endif %}
                                    {% if x.linkedin_link %}
                                    <a class="testimonials-social-media-icons mx-2"
                                        style="color: {{ x.social_media_icon_colors }} !important;"
                                        href="{{ x.linkedin_link }}" target="_blank" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="LinkedIn">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    {% endif %}
                                    {% if x.facebook_link %}
                                    <a class="testimonials-social-media-icons mx-2"
                                        style="color: {{ x.social_media_icon_colors }} !important;"
                                        href="{{ x.facebook_link }}" target="_blank" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i>
                                    </a>
                                    {% endif %}
                                    {% if x.instagram_link %}
                                    <a class="testimonials-social-media-icons mx-2"
                                        style="color: {{ x.social_media_icon_colors }} !important;"
                                        href="{{ x.instagram_link }}" target="_blank" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    {% endif %}
                                </span>
                            </h5>
                            <p class="card-text"><em>“ {{ x.testimonial|safe }} ”</em></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>


        <!-- Button trigger modal -->
        <div class="row">
            <div class="col-md-12 text-center">
                <a type="button" class="open-testimonial-form-btn" data-toggle="modal" data-target="#exampleModalCenter">
                    <small> <i class="far fa-comments"></i> LEAVE A TESTIMONIAL <i class="far fa-comments"></i></small>
                </a>
            </div>
        </div>

        <!-- Testimonial Form Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/testimonials/" method="POST" enctype="multipart/form-data" class="p-5">
                        {{ form_media }}
                        {% csrf_token %}
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="cNe2aMPVVfTc2Pdf8UeZhLQr3263dOYPxQFsvnKQdY4NmM1FlGoWmwr4wOycdDJI">

                        <small class="">LET US KNOW WHO YOU ARE</small>
                        <p> <input type="text" name="name" class="form-control col-md-12 " placeholder="Name"
                                maxlength="100" required="" id="id_name"></p>
                        <p> <input type="text" name="email" class="form-control col-md-12 " placeholder="Email"
                                maxlength="100" id="id_email"></p>

                        <small class="">YOUR REVIEW (BE NICE!)</small>
                        <p> <textarea name="your_thoughts" cols="40" rows="10" class="form-control col-md-12 "
                                placeholder="Your Thoughts?" maxlength="1000" required=""
                                id="id_your_thoughts"></textarea></p>

                        <small>SEND US AN IMAGE OF YOUR PRODUCT</small>
                        <p> <input type="text" name="twitter_link" class="form-control col-md-12 "
                                placeholder="twitter_link" maxlength="200" id="id_twitter_link"></p>
                        <p> <input type="text" name="linkedin_link" class="form-control col-md-12 "
                                placeholder="linkedin_link" maxlength="200" id="id_linkedin_link"></p>
                        <p> <input type="text" name="facebook_link" class="form-control col-md-12 "
                                placeholder="facebook_link" maxlength="200" id="id_facebook_link"></p>
                        <p> <input type="text" name="instagram_link" class="form-control col-md-12 "
                                placeholder="instagram_link" maxlength="200" id="id_instagram_link"></p>
                        <p> <input type="text" name="other_social_media_link" class="form-control col-md-12 "
                                placeholder="other_social_media_link" maxlength="200" id="id_other_social_media_link">
                        </p>
                        <p> <input type="file" name="upload_image" accept="image/*" id="id_upload_image"> <span
                                class="helptext">Show us
                                an image of your purchased product</span></p>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>

        {% if submitted %}
        we received your message
        {% endif %}


    </div>
</body>

<script>
    (function () {
        "use strict";

        var carousels = function () {
            $(".owl-carousel1").owlCarousel({
                loop: true,
                center: true,
                dots: false,
                margin: 0,
                responsiveClass: true,
                nav: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    680: {
                        items: 2,
                        nav: false,
                        loop: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            });
        };

        (function ($) {
            carousels();
        })(jQuery);
    })();



    $(document).ready(function () {
        $('#myModal').modal({
            show: false,
        })
    })



</script>
{% endblock content %}