{% extends 'base.html' %}
{% load static %}

{% block content %}



<body class="testimonials-body">
    <div class="overlay"></div>

    <div class="container-fluid" style="height: 100%;">

        <div class="gtco-testimonials">
            <div class="owl-carousel owl-carousel1 owl-theme">

                {% for x in add_testimonial %}
                
                <div>
                    {% for y in testimonials_customisation %}
                    <div class="{% if y.do_not_display %}
                    do-not-display {% else %} card text-center py-5 {% endif %}" style="background-color: {{ y.card_background_color }} !important;
                        border: 2px solid {{ y.card_border_color }} !important;">

                        <div class="card-body">
                            <h5 class="{% if y.do_not_display %}
                            do-not-display {% else %} name-header {% endif %}"
                                style="color: {{ y.card_font_color }} !important;">{{ x.recipients_name }} <br />
                            </h5>
                            <p class="{% if y.do_not_display %}
                            do-not-display {% else %} card-text my-5 {% endif %}">
                                <em class="{% if y.do_not_display %}
                                do-not-display {% else %} em {% endif %}"
                                    style="color: {{ y.card_font_color }} !important;">{{ x.testimonial|safe }}</em>
                            </p>
                            <div class="container mt-5">
                                <div class="col-md-12" style="color: {{ y.star_rating_color }} !important;">

                                    {% if x.customers_rating == '1' %}
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    {% endif %}
                                    {% if x.customers_rating == '2' %}
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>

                                    {% endif %}
                                    {% if x.customers_rating == '3' %}
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>

                                    {% endif %}
                                    {% if x.customers_rating == '4' %}
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="far fa-star mx-2" style="font-size:25px;"></i>

                                    {% endif %}
                                    {% if x.customers_rating == '5' %}
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    <i class="fas fa-star mx-2" style="font-size:25px;"></i>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% empty %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>THERE ARE NO CUSTOMER TESTIMONIALS YET</h3>
                        <p>ALL TETSIMONIALS WILL BE STORED IN YOUR ADMIN ONCE RECEIVED</p>
                        {% if request.user.is_superuser %}
                          
                        <a href="/admin/testimonials/testimonial/" class="testimonial-sent-btn">
                            CUSTOMER TESTIMONIALS
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if submitted %}
    <div class="row flexed mt-5 h-100">
        <div class="col-md-12 text-center">
            <h3>THANKS FOR SHARING WITH US</h3>
            <p>CHECK OUT WHAT OTHER PRODUCTS WE HAVE IN STORE</p>
            <a href="{% url 'products' %}" class="testimonial-sent-btn">PRODUCTS</a>

        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="#testimonialForm" id="testimonialForm" type="button" class="open-testimonial-form-btn">
                <small> <i class="far fa-comments"></i> LEAVE A TESTIMONIAL <i class="far fa-comments"></i></small>
            </a>
        </div>
    </div>

    <div class="testimonial-form-wrap col-md-12 flexed">

        {% for x in testimonials_customisation %}
        <form action="/testimonials/" method="POST" enctype="multipart/form-data" class="{% if x.do_not_display %}
        do-not-display {% else %} p-5 col-md-6 testimonial-form {% endif %}">
            {% csrf_token %}

            <p>
                <input type="text" name="name" class="{% if x.do_not_display %}
                do-not-display {% else %} form-control col-md-12 {% endif %}"
                    style="border: 1px solid {{ x.form_field_border_color }} !important;" placeholder="Name"
                    maxlength="100" required="" id="id_name">
            </p>
            <p>
                <input type="text" name="email" class="{% if x.do_not_display %}
                do-not-display {% else %} form-control col-md-12 {% endif %}"
                    style="border: 1px solid {{ x.form_field_border_color }} !important;" placeholder="Email"
                    maxlength="100" id="id_email">
            </p>
            <p>
                <textarea name="your_thoughts" cols="40" rows="10" class="{% if x.do_not_display %}
                do-not-display {% else %} form-control col-md-12 {% endif %}"
                    style="border: 1px solid {{ x.form_field_border_color }} !important;" placeholder="Your Thoughts?"
                    maxlength="1000" required="" id="id_your_thoughts" spellcheck="false"></textarea>
            </p>
            <p>
                <input type="number" name="rating" class="{% if x.do_not_display %}
                do-not-display {% else %} form-control col-md-3 rating-field {% endif %}"
                    style="border: 1px solid {{ x.form_field_border_color }} !important;" placeholder="Rate us out of 5"
                    maxlength="1" id="id_rating">
            </p>
            <input class="{% if x.do_not_display %}
            do-not-display {% else %} testimonial-form-submit-btn text-center p-0 {% endif %}"
                style="border: 1px solid {{ x.form_field_border_color }} !important;" type="submit" value="Submit">
        </form>
        {% endfor %}
    </div>
    {% endif %}


    {% include "includes/footer.html" %}
</body>

<script>
    (function () {
        "use strict";

        var carousels = function () {
            $(".owl-carousel1").owlCarousel({
                loop: true,
                center: true,
                dots: false,
                margin: 0,
                responsiveClass: true,
                nav: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    680: {
                        items: 2,
                        nav: false,
                        loop: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            });
        };

        (function ($) {
            carousels();
        })(jQuery);
    })();

    $(document).ready(function () {
        $('#myModal').modal({
            show: false,
        })
    })

</script>
{% endblock content %}