<script>
    function editHeaderLogo() {
        window.location.href = '/superadmin/page_customisations/headercustomisation/1/change/';
    }
    function editHomepageImage() {
        window.location.href = '/superadmin/page_customisations/homepagecustomisation/1/change/#/tab/module_0/';
    }
    function editCTACards() {
        window.location.href = '/superadmin/page_customisations/ctacard/';
    }
    function editFooter() {
        window.location.href = '/superadmin/page_customisations/footercustomisation/1/change/';
    }
    function editCTABanner() {
        window.location.href = '/superadmin/page_customisations/ctabanner/1/change/#/tab/module_0/';
    }
    function editSearchIcon() {
        window.location.href = '/superadmin/page_customisations/headercustomisation/1/change/#/tab/module_1/';
    }
    function editSmallBanner() {
        window.location.href = '/superadmin/page_customisations/headercustomisation/1/change/#/tab/module_2/';
    }
    function editSmallBannerButtons() {
        window.location.href = '/superadmin/page_customisations/headercustomisation/1/change/#/tab/module_3/';
    }
    function editIconAndTextColors() {
        window.location.href = '/superadmin/page_customisations/globalsitestyling/1/change/#/tab/module_0/';
    }
    function editMainPageText() {
        window.location.href = '/superadmin/page_customisations/homepagecustomisation/1/change/#/tab/module_1/';
    }
    function editCTACardImage() {
        window.location.href = '/superadmin/page_customisations/ctacard/1/change/#/tab/module_1/';
    }
    function editCTACardButtons() {
        window.location.href = '/superadmin/page_customisations/ctacard/1/change/#/tab/module_2/';
    }


</script>