{% for x in footer_customisation %}

<footer class="{% if y.do_not_display or x.do_not_display %}
        do-not-display {% else %} footer {% if request.get_full_path == '/' %} absolute-footer m-0 py-3 {% else %} mt-5 py-3 {% endif %}{% endif %}"
        style="background-color: {{ x.background_color }} !important; color: {{ x.text_color }}">
  <div class="container text-center">
    <span class="">FOLLOW US ONLINE:</span>
    {% if x.twitter_link %}
    <a class="mx-2" style="color: {{ x.social_media_icon_colors }} !important;" href="{{ x.twitter_link }}" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
    {% endif %}
    {% if x.linkedin_link %}
    <a class="mx-2" style="color: {{ x.social_media_icon_colors }} !important;" href="{{ x.linkedin_link }}" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    {% endif %}
    {% if x.facebook_link %}
    <a class="mx-2" style="color: {{ x.social_media_icon_colors }} !important;" href="{{ x.facebook_link }}" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i></a>
    {% endif %}
    {% if x.instagram_link %}
    <a class="mx-2" style="color: {{ x.social_media_icon_colors }} !important;" href="{{ x.instagram_link }}" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
    {% endif %}
  </div>
</footer>

{% endfor %}
