<head>
    <script src="https://cdn.tiny.cloud/1/ejfej7wzcg1hib8eew1onmh8d577qbpz8zcxwbb9ldzpk69m/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#id_content',
            plugins: 'link',
            toolbar: 'bold italic | undo redo | link image | fontsizeselect',
            fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
            height: '400',
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400,
        });
    </script>
</head>

<style>
    html {
        scroll-behavior: smooth;
    }

    .fieldset_titles h2 {
        color: #FFF;
        font-weight: 600;

        background-color: #354052;
    }
</style>


{% load jet_tags %}


<div>


    <script src="https://cdn.tiny.cloud/1/ejfej7wzcg1hib8eew1onmh8d577qbpz8zcxwbb9ldzpk69m/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#id_content',
            plugins: 'link',
            toolbar: 'bold italic | undo redo | link image | fontsizeselect',
            fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt 48pt',
            height: '400',
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400,
        });
    </script>


    <style>
        .fieldset_titles h2 {
            color: #FFF;
            font-weight: 600;

            background-color: #354052;
        }
    </style>





    <!-- Header styling -->
    <fieldset class="module aligned  initialized" id="1">

        <div class="form-row field-header_styling">
            <div>
                <label class="required" for="id_header_styling">Header styling:</label>
                <input type="text" name="header_styling" value="Default" class="vTextField" maxlength="55" required=""
                    id="id_header_styling">
            </div>
        </div>

        <div class="form-row field-header_logo">
            <div>
                <label for="id_header_logo">Header logo:</label>
                <p class="file-upload">Currently: <a
                        href="/media/media/croppedlogoblack_Y1v4d3v.png">media/croppedlogoblack_Y1v4d3v.png</a>
                    <span class="clearable-file-input">
                        <input type="checkbox" name="header_logo-clear" id="header_logo-clear_id">
                        <label for="header_logo-clear_id">Clear</label></span><br>
                    Change:
                    <input type="file" name="header_logo" accept="image/*" id="id_header_logo">
                </p>
            </div>
        </div>

        <div class="form-row field-header_background_color">
            <div>
                <label class="required" for="id_header_background_color">Header background color:</label>
                <input type="text" id="id_header_background_color" class="form-control colorfield_field jscolor"
                    name="header_background_color" value="#FFFFFFFF" placeholder="#FFFFFFFF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#FFFFFFFF"
                    style="background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

    </fieldset>



    <!-- Search icon and icon background -->
    <fieldset class="module aligned fieldset_titles initialized" id="10">

        <h2>Search icon and icon background</h2>
        <div class="form-row field-search_icon_color field-search_icon_background_color">
            <div class="field-box field-search_icon_color">
                <label class="required" for="id_search_icon_color">Search icon color:</label>
                <input type="text" id="id_search_icon_color" class="form-control colorfield_field jscolor"
                    name="search_icon_color" value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>

            <div class="field-box field-search_icon_background_color">
                <label class="required inline" for="id_search_icon_background_color">Search icon background
                    color:</label>
                <input type="text" id="id_search_icon_background_color" class="form-control colorfield_field jscolor"
                    name="search_icon_background_color" value="#FFFFFFFF" placeholder="#FFFFFFFF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#FFFFFFFF"
                    style="background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">

            </div>
        </div>

    </fieldset>



    <!-- Small Banner -->
    <fieldset class="module aligned fieldset_titles initialized" id="1">

        <h2>Small Banner</h2>
        <div class="form-row field-small_banner_text">
            <div>
                <label class="required" for="id_small_banner_text">Small banner text:</label>
                <div class="fieldBox"><textarea name="small_banner_text" cols="40" rows="10" class="djrichtextfield"
                        required="" id="id_small_banner_text" aria-hidden="true"
                        style="display: none;">&lt;p&gt;jhjghjghjghjgjghjggh&lt;/p&gt;</textarea>
                    <div role="application" class="tox tox-tinymce" aria-disabled="false"
                        style="visibility: hidden; width: 700px; height: 200px;">
                        <div class="tox-editor-container">
                            <div data-alloy-vertical-dir="toptobottom" class="tox-editor-header">
                                <div role="group" class="tox-toolbar-overlord" aria-disabled="false">
                                    <div role="group" class="tox-toolbar__primary">
                                        <div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1"
                                            class="tox-toolbar__group"><button aria-label="Bold" title="Bold"
                                                type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false"
                                                aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg
                                                        width="24" height="24">
                                                        <path
                                                            d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 01-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4z"
                                                            fill-rule="evenodd"></path>
                                                    </svg></span></button><button aria-label="Italic" title="Italic"
                                                type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false"
                                                aria-pressed="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg
                                                        width="24" height="24">
                                                        <path
                                                            d="M16.7 4.7l-.1.9h-.3c-.6 0-1 0-1.4.3-.3.3-.4.6-.5 1.1l-2.1 9.8v.6c0 .5.4.8 1.4.8h.2l-.2.8H8l.2-.8h.2c1.1 0 1.8-.5 2-1.5l2-9.8.1-.5c0-.6-.4-.8-1.4-.8h-.3l.2-.9h5.8z"
                                                            fill-rule="evenodd"></path>
                                                    </svg></span></button></div>
                                        <div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1"
                                            class="tox-toolbar__group"><button aria-label="Insert/edit link"
                                                title="Insert/edit link" type="button" tabindex="-1" class="tox-tbtn"
                                                aria-disabled="false" aria-pressed="false"><span
                                                    class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24">
                                                        <path
                                                            d="M6.2 12.3a1 1 0 011.4 1.4l-2.1 2a2 2 0 102.7 2.8l4.8-4.8a1 1 0 000-1.4 1 1 0 111.4-1.3 2.9 2.9 0 010 4L9.6 20a3.9 3.9 0 01-5.5-5.5l2-2zm11.6-.6a1 1 0 01-1.4-1.4l2-2a2 2 0 10-2.6-2.8L11 10.3a1 1 0 000 1.4A1 1 0 119.6 13a2.9 2.9 0 010-4L14.4 4a3.9 3.9 0 015.5 5.5l-2 2z"
                                                            fill-rule="nonzero"></path>
                                                    </svg></span></button><button aria-label="Insert/edit image"
                                                title="Insert/edit image" type="button" tabindex="-1" class="tox-tbtn"
                                                aria-disabled="false" aria-pressed="false"><span
                                                    class="tox-icon tox-tbtn__icon-wrap"><svg width="24" height="24">
                                                        <path
                                                            d="M5 15.7l3.3-3.2c.3-.3.7-.3 1 0L12 15l4.1-4c.3-.4.8-.4 1 0l2 1.9V5H5v10.7zM5 18V19h3l2.8-2.9-2-2L5 17.9zm14-3l-2.5-2.4-6.4 6.5H19v-4zM4 3h16c.6 0 1 .4 1 1v16c0 .6-.4 1-1 1H4a1 1 0 01-1-1V4c0-.6.4-1 1-1zm6 8a2 2 0 100-4 2 2 0 000 4z"
                                                            fill-rule="nonzero"></path>
                                                    </svg></span></button></div>
                                        <div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1"
                                            class="tox-toolbar__group"><button aria-label="Clear formatting"
                                                title="Clear formatting" type="button" tabindex="-1" class="tox-tbtn"
                                                aria-disabled="false"><span class="tox-icon tox-tbtn__icon-wrap"><svg
                                                        width="24" height="24">
                                                        <path
                                                            d="M13.2 6a1 1 0 010 .2l-2.6 10a1 1 0 01-1 .8h-.2a.8.8 0 01-.8-1l2.6-10H8a1 1 0 110-2h9a1 1 0 010 2h-3.8zM5 18h7a1 1 0 010 2H5a1 1 0 010-2zm13 1.5L16.5 18 15 19.5a.7.7 0 01-1-1l1.5-1.5-1.5-1.5a.7.7 0 011-1l1.5 1.5 1.5-1.5a.7.7 0 011 1L17.5 17l1.5 1.5a.7.7 0 01-1 1z"
                                                            fill-rule="evenodd"></path>
                                                    </svg></span></button></div>
                                        <div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1"
                                            class="tox-toolbar__group">
                                            <div aria-pressed="false" aria-label="Text color" title="Text color"
                                                role="button" aria-haspopup="true" unselectable="on" tabindex="-1"
                                                class="tox-split-button" aria-disabled="false" aria-expanded="false"
                                                aria-describedby="aria_5830693091431630269861931"
                                                style="user-select: none;"><span role="presentation" tabindex="-1"
                                                    class="tox-tbtn" aria-disabled="false"><span
                                                        class="tox-icon tox-tbtn__icon-wrap"><svg width="24"
                                                            height="24">
                                                            <g fill-rule="evenodd">
                                                                <path id="tox-icon-text-color__color" d="M3 18h18v3H3z">
                                                                </path>
                                                                <path
                                                                    d="M8.7 16h-.8a.5.5 0 01-.5-.6l2.7-9c.1-.3.3-.4.5-.4h2.8c.2 0 .4.1.5.4l2.7 9a.5.5 0 01-.5.6h-.8a.5.5 0 01-.4-.4l-.7-2.2c0-.3-.3-.4-.5-.4h-3.4c-.2 0-.4.1-.5.4l-.7 2.2c0 .3-.2.4-.4.4zm2.6-7.6l-.6 2a.5.5 0 00.5.6h1.6a.5.5 0 00.5-.6l-.6-2c0-.3-.3-.4-.5-.4h-.4c-.2 0-.4.1-.5.4z">
                                                                </path>
                                                            </g>
                                                        </svg></span></span><span role="presentation" tabindex="-1"
                                                    class="tox-tbtn tox-split-button__chevron"
                                                    aria-disabled="false"><svg width="10" height="10">
                                                        <path
                                                            d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 010-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8z"
                                                            fill-rule="nonzero"></path>
                                                    </svg></span><span aria-hidden="true"
                                                    id="aria_5830693091431630269861931" style="display: none;">To open
                                                    the popup, press Shift+Enter</span></div>
                                            <div aria-pressed="false" aria-label="Background color"
                                                title="Background color" role="button" aria-haspopup="true"
                                                unselectable="on" tabindex="-1" class="tox-split-button"
                                                aria-disabled="false" aria-expanded="false"
                                                aria-describedby="aria_1414721141451630269861932"
                                                style="user-select: none;"><span role="presentation" tabindex="-1"
                                                    class="tox-tbtn" aria-disabled="false"><span
                                                        class="tox-icon tox-tbtn__icon-wrap"><svg width="24"
                                                            height="24">
                                                            <g fill-rule="evenodd">
                                                                <path id="tox-icon-highlight-bg-color__color"
                                                                    d="M3 18h18v3H3z"></path>
                                                                <path fill-rule="nonzero"
                                                                    d="M7.7 16.7H3l3.3-3.3-.7-.8L10.2 8l4 4.1-4 4.2c-.2.2-.6.2-.8 0l-.6-.7-1.1 1.1zm5-7.5L11 7.4l3-2.9a2 2 0 012.6 0L18 6c.7.7.7 2 0 2.7l-2.9 2.9-1.8-1.8-.5-.6">
                                                                </path>
                                                            </g>
                                                        </svg></span></span><span role="presentation" tabindex="-1"
                                                    class="tox-tbtn tox-split-button__chevron"
                                                    aria-disabled="false"><svg width="10" height="10">
                                                        <path
                                                            d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 010-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8z"
                                                            fill-rule="nonzero"></path>
                                                    </svg></span><span aria-hidden="true"
                                                    id="aria_1414721141451630269861932" style="display: none;">To open
                                                    the popup, press Shift+Enter</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tox-anchorbar"></div>
                            </div>
                            <div class="tox-sidebar-wrap">
                                <div class="tox-edit-area"><iframe id="id_small_banner_text_ifr" frameborder="0"
                                        allowtransparency="true" title="Rich Text Area. Press ALT-0 for help."
                                        class="tox-edit-area__iframe"></iframe></div>
                                <div role="complementary" class="tox-sidebar">
                                    <div data-alloy-tabstop="true" tabindex="-1"
                                        class="tox-sidebar__slider tox-sidebar--sliding-closed" style="width: 0px;">
                                        <div class="tox-sidebar__pane-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tox-statusbar">
                            <div class="tox-statusbar__text-container">
                                <div role="navigation" data-alloy-tabstop="true" class="tox-statusbar__path"
                                    aria-disabled="false">
                                    <div role="button" data-index="0" tab-index="-1" aria-level="1" tabindex="-1"
                                        class="tox-statusbar__path-item" aria-disabled="false">p</div>
                                </div><span class="tox-statusbar__branding"><a
                                        href="https://www.tiny.cloud/?utm_campaign=editor_referral&amp;utm_medium=poweredby&amp;utm_source=tinymce&amp;utm_content=v5"
                                        rel="noopener" target="_blank" tabindex="-1"
                                        aria-label="Powered by Tiny">Powered by Tiny</a></span>
                            </div>
                            <div title="Resize" data-alloy-tabstop="true" tabindex="-1"
                                class="tox-statusbar__resize-handle"><svg width="10" height="10">
                                    <g fill-rule="nonzero">
                                        <path
                                            d="M8.1 1.1A.5.5 0 119 2l-7 7A.5.5 0 111 8l7-7zM8.1 5.1A.5.5 0 119 6l-3 3A.5.5 0 115 8l3-3z">
                                        </path>
                                    </g>
                                </svg></div>
                        </div>
                        <div aria-hidden="true" class="tox-throbber" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row field-small_banner_background_color field-small_banner_text_color">
            <div class="field-box field-small_banner_background_color">
                <label class="required" for="id_small_banner_background_color">Small banner background color:</label>
                <input type="text" id="id_small_banner_background_color" class="form-control colorfield_field jscolor"
                    name="small_banner_background_color" value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>

            <div class="field-box field-small_banner_text_color">
                <label class="required inline" for="id_small_banner_text_color">Small banner text color:</label>
                <input type="text" id="id_small_banner_text_color" class="form-control colorfield_field jscolor"
                    name="small_banner_text_color" value="#FFFFFFFF" placeholder="#FFFFFFFF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#FFFFFFFF"
                    style="background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

    </fieldset>



    <!-- Small Banner Buttons -->
    <fieldset class="module aligned fieldset_titles initialized" id="editSmallBannerBtns">

        <h2>Small Banner Buttons</h2>
        <div class="form-row field-banner_button_label_1">
            <div>
                <label class="required" for="id_banner_button_label_1">Banner button label 1:</label>
                <input type="text" name="banner_button_label_1" value="gfdfgdf" class="vTextField" maxlength="25"
                    required="" id="id_banner_button_label_1">
            </div>
        </div>

        <div class="form-row field-banner_button_url_link_1">
            <div>
                <label for="id_banner_button_url_link_1">Banner button url link 1:</label>
                <input type="url" name="banner_button_url_link_1" class="vURLField" maxlength="250"
                    id="id_banner_button_url_link_1">
            </div>
        </div>
        <div class="form-row field-banner_button_label_2">
            <div>
                <label class="required" for="id_banner_button_label_2">Banner button label 2:</label>
                <input type="text" name="banner_button_label_2" value="gfdfgfddfg" class="vTextField" maxlength="25"
                    required="" id="id_banner_button_label_2">
            </div>
        </div>

        <div class="form-row field-banner_button_url_link_2">
            <div>
                <label for="id_banner_button_url_link_2">Banner button url link 2:</label>
                <input type="url" name="banner_button_url_link_2" class="vURLField" maxlength="250"
                    id="id_banner_button_url_link_2">
            </div>
        </div>

        <div class="form-row field-banner_button_background_color">
            <div>
                <label class="required" for="id_banner_button_background_color">Banner button background color:</label>
                <input type="text" id="id_banner_button_background_color" class="form-control colorfield_field jscolor"
                    name="banner_button_background_color" value="#FFFFFFFF" placeholder="#FFFFFFFF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#FFFFFFFF"
                    style="background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

        <div class="form-row field-banner_button_label_color">
            <div>
                <label class="required" for="id_banner_button_label_color">Banner button label color:</label>
                <input type="text" id="id_banner_button_label_color" class="form-control colorfield_field jscolor"
                    name="banner_button_label_color" value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

        <div class="form-row field-button_border">
            <div>
                <label for="id_button_border_0">Button border:</label>
                <ul id="id_button_border" class="radiolist inline">
                    <li><label for="id_button_border_0"><input type="radio" name="button_border" value=""
                                class="radiolist inline" id="id_button_border_0">
                            None</label>

                    </li>
                    <li><label for="id_button_border_1"><input type="radio" name="button_border" value="add-border"
                                class="radiolist inline" id="id_button_border_1">
                            Add Border</label>

                    </li>
                    <li><label for="id_button_border_2"><input type="radio" name="button_border" value="no-border"
                                class="radiolist inline" id="id_button_border_2" checked="">
                            Remove Border</label>

                    </li>
                </ul>
            </div>
        </div>

        <div class="form-row field-button_border_color">
            <div>
                <label class="required" for="id_button_border_color">Button border color:</label>
                <input type="text" id="id_button_border_color" class="form-control colorfield_field jscolor"
                    name="button_border_color" value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

    </fieldset>


    <!-- Small Banner Buttons (MOBILE) -->
    <fieldset class="module aligned fieldset_titles initialized" id="1">

        <h2>Small Banner Buttons (MOBILE)</h2>
        <div class="form-row field-mobile_banner_button_background_color">
            <div>
                <label class="required" for="id_mobile_banner_button_background_color">Mobile banner button background
                    color:</label>
                <input type="text" id="id_mobile_banner_button_background_color"
                    class="form-control colorfield_field jscolor" name="mobile_banner_button_background_color"
                    value="#FFFFFFFF" placeholder="#FFFFFFFF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#FFFFFFFF"
                    style="background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

        <div class="form-row field-mobile_banner_button_label_color">
            <div>
                <label class="required" for="id_mobile_banner_button_label_color">Mobile banner button label
                    color:</label>
                <input type="text" id="id_mobile_banner_button_label_color"
                    class="form-control colorfield_field jscolor" name="mobile_banner_button_label_color"
                    value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

        <div class="form-row field-mobile_button_border">
            <div>
                <label for="id_mobile_button_border">Mobile button border:</label>
                <select name="mobile_button_border" id="id_mobile_button_border" tabindex="-1"
                    class="select2-hidden-accessible" aria-hidden="true">
                    <option value="">---------</option>
                    <option value="add-border">Add Border</option>
                    <option value="no-border" selected="">Remove Border</option>
                </select><span class="select2 select2-container select2-container--jet" dir="ltr"
                    style="width: auto;"><span class="selection"><span
                            class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list"
                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                            aria-labelledby="select2-id_mobile_button_border-container"><span
                                class="select2-selection__rendered" id="select2-id_mobile_button_border-container"
                                title="Remove Border">Remove Border</span><span class="select2-selection__arrow"
                                role="presentation"><b role="presentation"></b></span></span></span><span
                        class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
        </div>

        <div class="form-row field-mobile_button_border_color">
            <div>
                <label class="required" for="id_mobile_button_border_color">Mobile button border color:</label>
                <input type="text" id="id_mobile_button_border_color" class="form-control colorfield_field jscolor"
                    name="mobile_button_border_color" value="#000000FF" placeholder="#000000FF"
                    data-jscolor="{hash:true,width:225,height:150,format:'hexa',required:true,paletteCols:4,paletteHeight:28,palette:[]}"
                    required="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    data-current-color="#000000FF"
                    style="background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30px, rgba(0, 0, 0, 0) 31px, rgba(0, 0, 0, 0) 100%), url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAFNJREFUSEtjnDlz5n8GPODs2bP4pBmMjY3xyuPSn5KSwrB169bljKMOGA2B0RAY8BBIS0vDWw6Qm89hhQMu/U5OTgxLlixZzjjqgNEQGA2BgQ4BADx2qkG0ILJiAAAAAElFTkSuQmCC&quot;) !important; background-position: left top, left top !important; background-size: auto, 32px 16px !important; background-repeat: repeat-y, repeat-y !important; background-origin: padding-box, padding-box !important; padding-left: 40px !important;">
            </div>
        </div>

    </fieldset>




    <!-- Tick this box to HIDE these styles -->
    <fieldset class="module aligned fieldset_titles initialized" id="1">

        <h2>Tick this box to HIDE these styles</h2>
        <div class="form-row field-do_not_display">
            <div class="checkbox-row">
                <input type="checkbox" name="do_not_display" id="id_do_not_display"><label class="vCheckboxLabel"
                    for="id_do_not_display">Do not display</label>
                <p class="help">CHECK THIS BOX TO HIDE THIS SPECIFIC STYLING.</p>
            </div>
        </div>

    </fieldset>





    <div class="submit-row">

        <input type="submit" value="Save" class="default" name="_save">

        <p class="deletelink-box">
            <a href="/superadmin/page_customisations/headercustomisation/1/delete/" class="deletelink">Delete</a>
        </p>

        <input type="submit" value="Save and add another" name="_addanother">
        <input type="submit" value="Save and continue editing" name="_continue">

    </div>



    <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" async="">
    </script>




    <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
        </script>


</div>