{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- TOP IMAGE -->
{% for y in global_styles %}

<div class="{% if y.do_not_display %}
do-not-display {% else %} overlay {% endif %}" style="background-color: {{ y.base_background_color }};"></div>

{% endfor %}

<!-- CONTENTS -->

{% for x in about_page_customisation %}
{% for y in global_styles %}
<h1 class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} about-page-title text-center {% endif %}" style="color: {{y.base_font_color}};">
    {{ x.about_section_title }}
</h1>
<div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} d-flex justify-content-center about-blurb-wrap {% endif %}"
    style="color: {{y.base_font_color}};">
    <p class="about-page-blurb text-center my-5"><em>"{{ x.about_section_blurb }}"</em></p>
</div>

<div class="container flexed">
    <div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} text-center mr-3 mb-5 {% endif %}" style="color: {{ y.all_icon_colors }};">
        <a style="color: inherit;" href="#getInTouch" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Get In Touch"><i class="fas fa-phone-alt"></i></a>
    </div>
    <div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} text-center ml-3 mb-5 {% endif %}" style="color: {{ y.all_icon_colors }};">
        <a style="color: inherit;" href="{% url 'testimonials' %}" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Testimonials"><i class="fas fa-comments"></i></a>
    </div>
</div>


<div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} container {% endif %}">
    <hr style="background-color: #333;">
</div>

<div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} container my-5 {% endif %}" style="color: {{y.base_font_color}};">
    <div class="about-page-content">{{ x.about_section_content|safe }}</div>

    <div class="d-flex justify-content-between my-5">
        <div class="card left-image" style="width: 45rem;">
            <img src="{{ x.about_section_left_image.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card right-image" style="width: 45rem;">
            <img src="{{ x.about_section_right_image.url }}" class="card-img-top" alt="...">
        </div>
    </div>
</div>

<div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} container my-5 {% endif %}">
    <hr style="background-color: #333;">
</div>

<h1 class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} contact-section-title text-center {% endif %}" style="color: {{y.base_font_color}};">
    {{ x.contact_section_title }}
</h1>
<div class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} d-flex justify-content-center about-blurb-wrap {% endif %}"
    style="color: {{y.base_font_color}};">
    <p class="about-page-blurb text-center my-5"><em>"{{ x.contact_section_blurb|safe }}"</em></p>
</div>



<div id="getInTouch" class="{% if x.do_not_display or y.do_not_display %}
do-not-display {% else %} container d-flex justify-content-center {% endif %}"
    style="color: {{ y.base_font_color }} !important;">

    <div class="{% if x.do_not_display or y.do_not_display %}
        do-not-display {% else %} card contact-card {{ x.contact_card_border }} {% endif %}"
        style="width: 45rem; background-color: {{ x.contact_card_background_color }} !important; border: 1px solid {{ x.border_color }}; !important;">
        <img src="{{x.contact_card_image.url}}" class="card-img-top" alt="...">
        <div class="card-body text-center contact-card-title">
            <p class="{% if x.do_not_display or y.do_not_display %}
            do-not-display {% else %} contact-card-title {% endif %}"
                style="color: {{ x.contact_card_text_color }} !important;">{{ x.contact_card_title }}</p>
            <div class="{% if x.do_not_display or y.do_not_display %}
            do-not-display {% else %} contact-card-info {% endif %}"
                style="color: {{ x.contact_card_text_color }} !important;">{{ x.contact_card_info|safe }}</div>
        </div>
        <div class="{% if x.do_not_display or y.do_not_display %}
        do-not-display {% else %} card-footer px-5 d-flex justify-content-between {% endif %}"
            style="color: {{ y.all_icon_colors }};">
            {% if x.twitter_link %}
            <a style="color: inherit;" href="{{ x.twitter_link }}" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if x.linkedin_link %}
            <a style="color: inherit;" href="{{ x.linkedin_link }}" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="top" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            {% endif %}
            {% if x.facebook_link %}
            <a style="color: inherit;" href="{{ x.facebook_link }}" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if x.instagram_link %}
            <a style="color: inherit;" href="{{ x.instagram_link }}" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
        </div>
    </div>

</div>


{% include "includes/footer.html" %}


{% endfor %}
{% endfor %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })


</script>
{% endblock content %}